Package: de.fau.cs.dios.pilot.sbservertweak
Name: DiOS Controller
Depends: mobilesubstrate, cycript, apt, sudo
Version: 2.0.0
Architecture: iphoneos-arm
Description: DiOS Automator SpringBoard Tweak. Allows app installation and execution using a HTTP REST API.
Maintainer: Andreas Weinlein
Author: Andreas Weinlein
Section: Tweaks
Tag: role::hacker
Priority: standard
